.buttons{
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  padding: 0 10px;


  .cardBio{
    border-radius: 10px;
    max-width: 380px;
    width: 100%;
    transition: 1s;
    &:hover{
      transform: scale(1.1);
    }
  }
}

