.fotoHero{
  flex-direction: column;
  align-items: center;

  img{
    max-width: 480px;
    width: 100%;
    margin-bottom: -40px;
    margin-top: -60px;

  }
  h1{
    font-size: 38px;
    line-height: 30px;
    letter-spacing: 0px;
  }
  p{
    font-size: 16px;
  }
}

@media (max-width: 500px){
  .fotoHero{
    img{
      margin-top: -40px;

    }
    h1{
      font-size: 28px;
      line-height: 30px;
      letter-spacing: 0px;
    }
    p{
      font-size: 14px;
    }
  }
  
}