.bioHeader{
  padding: 40px;

  p{
    font-weight: 600;
  }

  .red-text {
    color: var(--vermelho);
  }
  
  .green-text {
    color: #00e500;
  }
}

@media (max-width: 500px){
  .bioHeader{
    padding: 20px 10px;
  
    p{
      font-size: 16px;
    }
  
    .red-text {
      color: var(--vermelho);
    }
    
    .green-text {
      color: #00e500;
    }
  }
}